<div class="backdrop is-hidden developers" data-modal data-modal-dev>
  <div class="modal-dev">
    <div class="modal-dev__content">
      <button class="btn-modal" data-modal-close>
        <svg class="btn-close">
          <use href="./images/sprite.svg#close"></use>
        </svg>
      </button>
      <h2 class="modal-dev__title">Development team "d.then"</h2>
      <ul class="modal-dev__list list">
        <li class="modal-dev__item">
          <div class="dev-avatar">
            <img
              src="./images/dev-modal/stasyshyna.jpeg"
              alt="avatar Alona Stasyshyna"
              width="100"
              height="100"
            />
          </div>
          <div class="name-block">
            <p class="modal-dev__name">Alona Stasyshyna</p>
            <p class="modal-dev__text">Team Leader</p>
            <a
              class="git-self"
              href="https://github.com/AlonaStasyshyna"
              target="_blank"
              rel="noopener nofollow noreferrer"
              aria-label="Alona Stasyshyna GitHub"
            >
              <span class="git-self-link link">
                <svg class="git-icon">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
                GitHub
              </span></a
            >
          </div>
        </li>
        <li class="modal-dev__item">
          <div class="dev-avatar aleks" >
            <img
              src="./images/dev-modal/kiselyov.jpeg"
              alt="avatar Oleksiy Kiselyov"
              width="130"
              height="130"
            />
          </div>
          <div class="name-block">
            <p class="modal-dev__name">Oleksiy Kiselyov</p>
            <p class="modal-dev__text">Scrum Master</p>
            <a
              href="https://github.com/AlexeyKiselyov"
              target="_blank"
              rel="noopener nofollow noreferrer"
              aria-label="Alexey Kiselyov GitHub"
              ><span class="git-self-link link">
                <svg class="git-icon">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
                GitHub
              </span></a
            ></a
            >
          </div>
        </li>
        <li class="modal-dev__item">
          <div class="dev-avatar">
            <img
              src="./images/dev-modal/shvalov.jpeg"
              alt="avatar Yurii Shvalov"
              width="100"
              height="100"
            />
          </div>
          <div class="name-block">
            <p class="modal-dev__name">Yurii Shvalov</p>
            <p class="modal-dev__text">FullStack Dev</p>
            <a
              href="https://github.com/YuraFLex"
              target="_blank"
              rel="noopener nofollow noreferrer"
              aria-label="YuraFLex GitHub"
              ><span class="git-self-link link">
                <svg class="git-icon">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
                GitHub
              </span></a
            ></a
            >
          </div>
        </li>
        <li class="modal-dev__item">
          <div class="dev-avatar vova">
            <img
              src="./images/dev-modal/boychyshyn.jpeg"
              alt="avatar Volodymyr Boychyshyn"
              width="100"
              height="100"
            />
          </div>
          <div class="name-block">
            <p class="modal-dev__name">Volodymyr Boychyshyn</p>
            <p class="modal-dev__text">FullStack Dev</p>
            <a
              href="https://github.com/qsunn"
              target="_blank"
              rel="noopener nofollow noreferrer"
              aria-label="qsunn GitHub"
              ><span class="git-self-link link">
                <svg class="git-icon">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
                GitHub
              </span></a
            ></a
            >
          </div>
        </li>
        <li class="modal-dev__item">
          <div class="dev-avatar">
            <img
              src="./images/dev-modal/bochkov.jpeg"
              alt="avatar Danylo Bochkov"
              width="100"
              height="100"
            />
          </div>
          <div class="name-block">
            <p class="modal-dev__name">Danylo Bochkov</p>
            <p class="modal-dev__text">FullStack Dev</p>
            <a
              href="https://github.com/Danil-Bochkov"
              target="_blank"
              rel="noopener nofollow noreferrer"
              aria-label="Danil Bochkov GitHub"
              ><span class="git-self-link link">
                <svg class="git-icon">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
                GitHub
              </span></a
            ></a
            >
          </div>
        </li>
        <li class="modal-dev__item">
          <div class="dev-avatar">
            <img
              src="./images/dev-modal/bratash.jpeg"
              alt="avatar Vitaliy Bratash"
              width="100"
              height="100"
            />
          </div>
          <div class="name-block">
            <p class="modal-dev__name">Vitaliy Bratash</p>
            <p class="modal-dev__text">FullStack Dev</p>
            <a
              href="https://github.com/Vitaliybratash"
              target="_blank"
              rel="noopener nofollow noreferrer"
              aria-label="Vitaliy Bratash GitHub"
              ><span class="git-self-link link">
                <svg class="git-icon">
                  <use href="./images/sprite.svg#github"></use>
                </svg>
                GitHub
              </span></a
            ></a
            >
          </div>
        </li>
      </ul>

      <a
        class="git-link link"
        href="https://github.com/AlonaStasyshyna/event-booster"
        target="_blank"
        rel="noopener nofollow noreferrer"
        aria-label="GitHub"
        ><span class="btn-github"><svg class="git-icon-project">
                  <use href="./images/sprite.svg#github"></use>
                </svg>GitHub</span></a
      >
    </div>
  </div>
</div>
