<header>
  <div class="header-field container">
    <span class="header-field__icon-background"></span>
    <a class="link logo" href="./index.html">
      <svg class="logo__icon logo__icon_small">
        <use href="./images/sprite.svg#logo_small"></use>
      </svg>
      <svg class="logo__icon logo__icon_big">
        <use href="./images/sprite.svg#logo"></use>
      </svg>
    </a>
    <h1 class="header-field__title title-show neon-title">
      find best events around the world
    </h1>
  </div>
</header>
