.backdrop-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.05);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-loader.is-hidd {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 120px;
  height: 120px;
  margin: 20px;
  --size: 20px;
  --largeSize: 40px;
  --color: #dc56c5;
  --speed: 1.5s;
  --padding: calc((var(--largeSize) - var(--size)) / -2);
}

.loader div {
  background: var(--color);
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
}

@keyframes inlarge1 {
  0%,
  12.5%,
  100% {
    width: var(--size);
    height: var(--size);
    top: 0;
    left: 50px;
  }
  6.25% {
    width: var(--largeSize);
    height: var(--largeSize);
    top: calc(0px + var(--padding));
    left: calc(50px + var(--padding));
  }
}

.circle1 {
  top: 0;
  left: 50px;
  animation: var(--speed) ease-in-out 0s infinite inlarge1;
}

@keyframes inlarge2 {
  0%,
  12.5%,
  25%,
  100% {
    width: var(--size);
    height: var(--size);
    top: 15px;
    left: 85px;
  }
  18.75% {
    width: var(--largeSize);
    height: var(--largeSize);
    top: calc(15px + var(--padding));
    left: calc(85px + var(--padding));
  }
}

.circle2 {
  top: 15px;
  left: 85px;
  animation: var(--speed) ease-in-out 0s infinite inlarge2;
}

@keyframes inlarge3 {
  0%,
  25%,
  37.5%,
  100% {
    width: var(--size);
    height: var(--size);
    top: 50px;
    left: 100px;
  }
  31.25% {
    width: var(--largeSize);
    height: var(--largeSize);
    top: calc(50px + var(--padding));
    left: calc(100px + var(--padding));
  }
}

.circle3 {
  top: 50px;
  left: 100px;
  animation: var(--speed) ease-in-out 0s infinite inlarge3;
}

@keyframes inlarge4 {
  0%,
  37.5%,
  50%,
  100% {
    width: var(--size);
    height: var(--size);
    top: 85px;
    left: 85px;
  }
  43.75% {
    width: var(--largeSize);
    height: var(--largeSize);
    top: calc(85px + var(--padding));
    left: calc(85px + var(--padding));
  }
}

.circle4 {
  top: 85px;
  left: 85px;
  animation: var(--speed) ease-in-out 0s infinite inlarge4;
}

@keyframes inlarge5 {
  0%,
  50%,
  62.5%,
  100% {
    width: var(--size);
    height: var(--size);
    top: 100px;
    left: 50px;
  }
  56.25% {
    width: var(--largeSize);
    height: var(--largeSize);
    top: calc(100px + var(--padding));
    left: calc(50px + var(--padding));
  }
}

.circle5 {
  top: 100px;
  left: 50px;
  animation: var(--speed) ease-in-out 0s infinite inlarge5;
}

@keyframes inlarge6 {
  0%,
  62.5%,
  75%,
  100% {
    width: var(--size);
    height: var(--size);
    top: 85px;
    left: 15px;
  }
  68.75% {
    width: var(--largeSize);
    height: var(--largeSize);
    top: calc(85px + var(--padding));
    left: calc(15px + var(--padding));
  }
}

.circle6 {
  top: 85px;
  left: 15px;
  animation: var(--speed) ease-in-out 0s infinite inlarge6;
}

@keyframes inlarge7 {
  0%,
  75%,
  87.5%,
  100% {
    width: var(--size);
    height: var(--size);
    top: 50px;
    left: 0px;
  }
  81.25% {
    width: var(--largeSize);
    height: var(--largeSize);
    top: calc(50px + var(--padding));
    left: calc(0px + var(--padding));
  }
}

.circle7 {
  top: 50px;
  left: 0px;
  animation: var(--speed) ease-in-out 0s infinite inlarge7;
}

@keyframes inlarge8 {
  0%,
  87.5%,
  100% {
    width: var(--size);
    height: var(--size);
    top: 15px;
    left: 15px;
  }
  93.75% {
    width: var(--largeSize);
    height: var(--largeSize);
    top: calc(15px + var(--padding));
    left: calc(15px + var(--padding));
  }
}

.circle8 {
  top: 15px;
  left: 15px;
  animation: var(--speed) ease-in-out 0s infinite inlarge8;
}
