.search-form {
  margin-bottom: 56px;

  @include mq(tab) {
    margin-bottom: 80px;
  }

  @include mq(desk) {
    margin-bottom: 120px;
  }
}

.search-form__container {
  @include mq(tab) {
    display: flex;
    justify-content: space-between;
  }

  @include mq(desk) {
    justify-content: center;
  }
}

.search-form__wripper {
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 40px;
  position: relative;

  font-weight: 400;

  @include mq(tab) {
    margin-left: 0px;
    margin-right: 0px;

    width: 336px;
  }

  @include mq(desk) {
    width: 280px;
  }

  &:first-child {
    margin-bottom: 24px;

    @include mq(tab) {
      margin-bottom: 0px;
      margin-right: 32px;
    }
  }
}

.search-form__input {
  appearance: none;

  padding-left: 35px;
  padding-right: 50px;
  width: 100%;
  height: 40px;

  color: white;
  line-height: 1.25;
  font-weight: 400;

  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);

  border: 1px solid transparent;
  outline: 1px solid #0000;
  border-radius: 20px;

  transition: border $transition;

  &::placeholder {
    color: $primary-text-color;
  }
  &:hover,
  &:focus {
    border: 3px solid $accent-color;
  }
}

.search-form__input.js-countries {
  color: $primary-text-color;
}

.search-form__input.js-countries.search-form__input--white {
  color: $secondary-text-color;
}

.search-form__icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
}
